{% extends "templates/base.html" %}
{% block body %}
<div class="container-fluid mt-3">
    <div class="row">
        {% for service in services %}
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{service.name}}</h5>
                    Labels: <span class="badge text-bg-success">{{service.labels}}</span><br/>
                    Url: <span class="badge text-bg-success">{{service.url}}</span><br/>
                    <small class="text-muted">Last updated 3 mins ago</small><br/><br/>
                    <a href="doc/swagger/{{service.id}}" class="btn btn-primary">Open documentation</a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}