{% extends "templates/base.html" %}
{% block body %}
<div class="container-fluid mt-3">
    <div class="row">
        {% for service in services %}
        <div class="col-2">
            <div class="card shadow-sm position-relative">
                <h5 class="card-header clearfix">
                    <span class="title">{{service.name}}</span>
                    <a href="/service/{{service.serviceId}}/config"
                       class="float-end ms-2"
                       title="edit">
                        <i class="bi bi-tools text-secondary"></i>
                    </a>

                    {% if service.config.description %}
                    <div class="float-end border-end border-start">&nbsp;</div>

                    <a data-bs-toggle="collapse" href="#info_{{service.serviceId}}"
                       role="button" aria-expanded="false"
                       aria-controls="info_{{service.serviceId}}"
                       class="float-end me-2"
                       title="info">
                        <i class="bi bi-info-circle text-secondary"></i>
                    </a>
                    {% endif %}
                </h5>
                <div class="card-body">
                    {% if service.openApiEnabled? %}
                    <a href="/service/{{service.serviceId}}/doc/openapi" class="btn btn-success">REST</a>
                    {% endif %}


                    {% if service.asyncApiEnabled? %}
                    {% if service.config.asyncApiCached? %}
                    <a href="/service/{{service.serviceId}}/doc/asyncapi" class="btn btn-success">ASYNC doc</a>
                    {% else %}
                    <button class="btn btn-outline-secondary"
                            style="cursor: wait"
                            type="button"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="AsyncAPI doc indexing in progress. Please refresh the page in couple of minutes.">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">ASYNC</span>
                    </button>
                    {% endif %}
                    {% endif %}


                    <div class="mb-3 float-end" style="height:20px">
                        {% if service.config.team %}
                        <span class="badge bg-secondary">{{service.config.team}}</span>
                        {% endif %}
                        {% if service.config.repo %}
                        <a href="{{service.config.repo}}" target="_blank" class="badge bg-secondary">repo</a>
                        {% endif %}


                    </div>

                    {% if service.config.description %}
                    <div class="collapse mt-3" id="info_{{service.serviceId}}">
                        <div class="card card-body text-dark bg-light">
                            {{service.config.description}}
                        </div>
                    </div>
                    {% endif %}

                </div>

            </div>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}