{% extends "templates/base.html" %}
{% block body %}
<div class="container-fluid">
    {% if result %}
    <div class="row">
        <div class="col-12" style="padding:100px 30%">
            {{result}}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12" style="padding:100px 30%">
            <form action="/debug" method="post">
                <div class="mb-3">
                    <label for="code" class="form-label">Code</label>
                    <textarea class="form-control" name="code" id="code" rows="20">{{code}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}