{% extends "templates/base.html" %}


{% block css %}
<link rel="stylesheet" type="text/css" href="/static/swagger/swagger-ui.css">
{% endblock %}

{% block body %}
<div id="swagger-ui"></div>

<script>
window.onload = function() {
  const ui = SwaggerUIBundle({
    url: "/service/{{id}}/doc/openapi/proxy",
    dom_id: '#swagger-ui',
    supportedSubmitMethods: [],
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ]
  })
  window.ui = ui
}
</script>
{% endblock %}

{% block js %}
<script src="/static/swagger/swagger-ui-bundle.js"></script>
<script src="/static/swagger/swagger-ui-standalone-preset.js"></script>
{% endblock %}