{% extends "templates/base.html" %}
{% block body %}
<div id="swagger-ui"></div>

<script src="/static/swagger/swagger-ui-bundle.js"></script>
<script src="/static/swagger/swagger-ui-standalone-preset.js"></script>

{{service}}

<script>
window.onload = function() {
  const ui = SwaggerUIBundle({
    url: "/service/{{id}}/doc/openapi/proxy",
    dom_id: '#swagger-ui',
    supportedSubmitMethods: [],
    presets: [
      SwaggerUIBundle.presets.apis,
      SwaggerUIStandalonePreset
    ]
  })
  window.ui = ui
}
</script>
{% endblock %}